body{ font-family:Arial, sans-serif;}
h1, h2, h3, p { margin:0pt }

p:first-child:first-letter{
  float : left;
  font-size : 225%;
  font-family : arial;
  font-weight : bold;
  width : 0.9em;
  padding : 0 0.5px;
  line-height : 0.85em;
  margin: 0.1em 0.06em 0 0;/*0.17em 0.09em 0 0;*/
}

